* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/*----------------------Block 1----------------------*/

.block1,
.block2 {
    padding-bottom: 120px;
}

.block1__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-menu .nav-menu__list {
    margin-left: 41px;
}

.nav-menu .nav-menu__link,
.nav-menu .nav-menu__signUp {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    letter-spacing: -0.03em;
}

.nav-menu .nav-menu__link:before {
    content: "";
    position: absolute;
    width: 0;
    bottom: -5px;
    height: 2px;
    background-color: #000;
    transition: width .3s linear;
}

.nav-menu .nav-menu__link:hover:before {
    width: 100%;
}

.nav-menu .nav-menu__signUp {
    color: #fff;
    background-color: #2945FF;
    border-radius: 24px;
    display: inline-block;
    padding: 12px 24px;
    width: 100px;
}

.block1__wrapper {
    margin-top: 64px;
    display: flex;
}

.block1-left {
    position: relative;
}

.block1-left__vector {
    position: absolute;
    left: -136px;
    top: -50px;
    z-index: -1;
    transform: rotate(-0.6deg);
}

.block1-left__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block1-left__btnPlay {
    display: inline-block;
    width: 72px;
    height: 72px;
    background: url("../img/block1/block1-left-btnPlay.svg") no-repeat;
    border-radius: 100%;
    position: absolute;
    transition: transform .3s linear;
}

.block1-left__btnPlay:hover {
    transform: scale(1.2);
}

.block1-right {
    margin-left: 64px;
    margin-top: 41px;
    padding-right: 21px;
}

.block1-right__descr {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -0.03em;
}

.block1-right__form {
    margin-top: 24px;
}

.block1-right__input-container {
    display: flex;
    position: relative;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 8px;
}

.block1-right__input {
    padding: 25px 5px 21px 30px;
    width: calc(100% - 120px);
    border: 0;
    background-color: transparent;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.block1-right__btn {
    background: #2945FF;
    margin-top: 8px;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    color: #fff;
    height: 50px;
    width: 120px;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    display: block;
}

.block1-right__advantage {
    display: flex;
    margin-top: 15px;
}

.block1-right__box {
    display: flex;
    align-items: center;
    margin-right: 17px;
}

.block1-right__box img {
    margin-right: 2px;
}

.block1-right__box-text {
    font-size: 14px;
    font-weight: 400;
}

.block2__title {
    margin-top: 120px;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.03em;
}

.block2__subtitle {
    margin-top: 9px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.03em;
    color: rgba(0, 0, 0, 0.8);
}

.block2__wrapper {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 30px;
}

.block2-card {
    width: 100%;
    height: 215px;
    border: 1px solid #EAEAEA;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 0 32px;
    transition: box-shadow .3s linear;
}

.block2-card:hover {
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.09);
}

.block2-card__img {
    width: 167px;
    height: 167px;
}

.block2-card__container {
    margin-left: 40px;
}

.block2-card__icon {
    margin-bottom: 15px;
}

.block2-card__title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.03em;
    margin-bottom: 5px;
}

.block2-card__descr {
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 12px;
}

.block2-card__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.block2-card__link:hover img {
    position: relative;
    left: 5px;
}
